@import '../../styles/mixins';

.list-container {
  position: relative;
  width: 100%;
  --columns: 5;

  @include device-size(laptop) {
    --columns: 4;
  }

  @include device-size(tablet) {
    --columns: 3;
  }

  @include device-size(mobile) {
    --columns: 1;
  }
}

.list-spacer {
  position: relative;
  width: 100%;
}

.list-row {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 10px;
  row-gap: 20px;
}

.list-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.sort-container {
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .sort-container {
    .btn-small {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
